{% extends "base.html" %}
{% block content %}
  <ul class="leader-board__users">
    {% for meritted_user in meritted_users %}
      <li>
        <div class="leader-board__user">
          <span class="leader-board__user_name">
            {{meritted_user.first_name}}
          </span>
          <i class="leader-board__user_{{meritted_user.status}}">&nbsp;</i>
          <span class="leader-board__user_score">{{meritted_user.score}}</span>
        </div>
        <ul class="leader-board__user-merits">
          <li>hi</li>
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
