{% extends "base.html" %}
{% block content %}
  <form action="/merits" method="post">
    {% csrf-field %}
    <select name="user_id">
      {% for user in users %}
        <option value="{{user.id}}">{{user.first_name}}</option>
      {% endfor %}
    </select>

    <select name="merit_id">
      {% for merit in merits %}
        <option value="{{merit.id}}">{{merit.name}} ({{merit.value}})</option>
      {% endfor %}
    </select>
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
