html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
  margin-top: 9px;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.leader-board__users {
  margin: 0 auto;
  width: 50%;
}

.leader-board__user {
  background: white;
  border: 1px solid #efefef;
  margin: 10px;
  padding: 15px;
  font-size: 1.5em;
  border-radius: 10px;
  position: relative;
}

.leader-board__user_score {
  float: right;
}

.leader-board__user_winner {
  background: url('/img/king.png');
  height: 32px;
  left: -50px;
  position: absolute;
  width: 32px;
}

li {
  list-style-type: none;
}
